@media (max-width: 1310px) {
    .offer__items {
        justify-content: center;
    }
}

@media (max-width: 1300px) {

    .header__title {
        font-size: 42px;
        max-width: 376px;
        line-height: 50px;
    }

    .header__body-inner {
        flex-direction: column;
    }
    .header__content {
        margin-bottom: 30px;
    }
    
    .customers__slide-inner {
        padding: 22px;
    }
}

@media (max-width: 1200px) {
    .our-blog__items {
        grid-template: repeat(3, auto) / repeat(2, 1fr);
    }
    .brands__items {
        grid-template: repeat(3, auto) / repeat(4, 1fr);
    }
    .experts__content {
        flex-direction: column;
    }
    .experts__form-box {
        margin-right: 0;
    }
    .experts__inner {
        margin-bottom: 78px;
    }
    .info__inner {
        flex-direction: column;
        align-items: center;
        
    }
    .info__left {
        margin: 0 0 40px 0;
    }
}

@media (max-width: 1100px) {
    .follow__inner {
        flex-direction: column;
        align-items: center;
    }

    .follow__item {
        max-width: 524px;
    }
    .contact__body {
        padding: 100px 0;
        
    }
    
}

@media (max-width: 951px) {
    .burger {
        position: fixed;
        top: 0;
        right: 0;
        z-index: 150;
        height: 60px;
        width: 60px;
        border-radius: 50%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        transition: all .3s;
        background-color: transparent;
    }

    .burger.active span {
        position: relative;
        transform: rotate(45deg);
        top: 7px;
    }

    .burger.active::before {
        transform: scale(0);
        
    }
    .burger.active::after {
        transform: rotate(-45deg);
        top: 20px;
    }

    .burger--follow {
        top: 15px;
        right: 15px;
        box-shadow: 0 1px 8px #a1a1a1;
        background-color: #fff;
    }

    .burger span {
        display: block;
        height: 4px;
        width: 30px;
        background-color: #424551;
        border-radius: 3px;
        margin: 4px 0;
    }

    .burger::before,
    .burger::after {
        content: '';
        display: block;
        width: 30px;
        height: 4px;
        background-color: #424551;
        border-radius: 3px; 
    }

    .header {
        padding-top: 90px;
    }

    .header__top {
        position: fixed;
        top: 0;
        bottom: 0;
        right: 0;
        background-color: #FFFFFF;
        z-index: 100;
        min-width: 320px;
        transform: translateX(100%);
        transition: all .3s;
    }

    .header__top--open {
        transform: translateX(0%);
    }

    .header__body-inner {
        padding-top: 0;
    }

    .header__top-inner {
        flex-direction: column;
        height: 100%;
        justify-content: space-between;
        padding: 100px 0;
    }

    .header__logo {
        margin: 0 0 30px 0;
    }

    .header__top-inner span {
        display: none;
    }

    .header__nav {
        text-align: center;
        margin: 0 auto;
        flex-grow: 1;
    }

    .header__nav-list {
        flex-direction: column;
        justify-content: center;
        height: 100%;
    }

    .header__nav-item {
        margin: 0;
    }
    .header__nav-item:last-child {
        margin: 0;
    }

    .header__nav-link {
        padding: 5px;
        display: block;
    }

    .offer__title,
    .follow__title,
    .contact__title,
    .our-blog__title,
    .customers__title,
    .brands__title,
    .accordion__title,
    .experts__title,
    .info__title {
        font-size: 38px;
        line-height: 56px;
    }
    
    .contact__body {
        background-color: transparent;
    }

    .contact__title {
        margin: 0 0 40px 40px;
    }
    .contact__btn {
        background-color: #FF6433;
    }
}

@media (max-width: 850px) {
    .numbers__items {
        flex-wrap: wrap;
        gap: 20px;    
    }
    .experts__map {
        height: 250px;
        max-width: none;
        width: 100%;
    }
}

@media (max-width: 800px) {
    .offer {
        padding: 70px 0;
    }
    .header__content-right img {
        width: 100%;
    }

    .header__content-right::before {
        display: none;
    }

    .header__rating {
        bottom: 0;
        right: 0;
    }
    .follow {
        padding: 70px 0;
    }
    .contact__title {
        margin-left: 0;
    }
    .contact__btn {
        margin-left: 0;
    }

    .our-blog {
        padding: 70px 0;
    }

    .our-blog__title {
        margin-bottom: 30px;
    }

    .our-blog__filter-item {
        margin-right: 15px;
    }
    .our-blog__filter-btn {
        font-size: 22px;
        line-height: 38px;
        padding: 4px;
    }
    .customers {
        padding: 70px 0;
    }
    .brands {
        padding: 70px 0;
    }
    .brands__items {
        grid-template: repeat(4, auto) / repeat(3, 1fr);
    }
    .accordion {
        padding: 70px 0;
    }
    .experts {
        padding: 70px 0 0 0;
    }

    .experts__form-box {
        flex: 0 1 auto;
        margin-bottom: 60px;
    }
    .info {
        padding: 70px 0;
    }
}

@media (max-width: 700px) {
    .customers__slider-arrows {
        display: none;
    }
    .customers__dots .slick-dots {
        left: 30%;
    }
    .brands__items {
        grid-template: repeat(5, auto) / repeat(2, 1fr);
    }
}

@media (max-width: 600px) {
    .offer__subtitle {
        font-size: 20px;
        line-height: 32px;
    }
    .offer__title,
    .follow__title,
    .contact__title,
    .our-blog__title,
    .customers__title,
    .brands__title,
    .accordion__title,
    .experts__title,
    .info__title  {
        font-size: 28px;
        line-height: 46px;
    }
    .follow__item-title {
        font-size: 22px;
        line-height: 38px;
    }
    .follow__item-text {
        font-size: 14px;
    }
    .our-blog__items {
        grid-template: none
    }
    .our-blog__link-title {
        font-size: 22px;
        line-height: 38px;
    }
    .our-blog__link-text {
        font-size: 14px;
        line-height: 26px;
    }
    .accordion__title {
        margin-bottom: 40px;
    }
    .accordion__head-inner {
        padding: 20px;
    }
    .accordion__item-title {
        font-size: 18px;
        line-height: 30px;
    }
    .accordion__item-text {
        font-size: 14px;
    }
    .accordion__item-main {
        padding: 16px 20px 20px;
    }
    .accordion__item--active .accordion__head-inner::after {
        padding-top: 11px;
    }
    .info__inner {
        align-items: flex-start;
    }
    .info__title {
        margin-bottom: 30px;
    }
    .info__item-top {
        font-size: 14px;
    }
    .info__item-link,
    .info__item-address,
    .info__item-open {
        font-size: 20px;
        line-height: 32px;
    }
}

@media (max-width: 550px) {
    .experts__info-address,
    .experts__info-mail,
    .experts__info-hours {
        font-size: 20px;
        line-height: 32px;
    }
    .experts__info-top {
        font-size: 14px;
        line-height: 26px;
    }
}

@media (max-width: 500px) {
    .customers__text {
        font-size: 18px;
        line-height: 30px;
    }
    .customers__title {
        margin-bottom: 50px;
    }
    .customers__dots .slick-dots {
        left: 25%;
    }
    .experts__form-input {
        padding: 20px;
    }
    .experts__map {
        height: 200px;
    }
}

@media (max-width: 470px) {
    .numbers__items {
        flex-direction: column;
        align-items: flex-start;
    }

    .numbers__item {
        margin-left: 90px;
    }
}

@media (max-width: 450px) {
    .header__title {
        font-size: 38px;
        text-align: center;
    }
    .header__content-buttons {
        display: flex;
        flex-direction: column;
    }
    .header__content-btn {
        margin: 0 0 20px 0;
    }
    .header__times-title {
        font-size: 14px;
    }
    .header__times-text {
        font-size: 16px;
    }
    .accordion__head-inner::after {
        width: 41px;
        height: 38px;
        padding: 10px 12px;
    }
    .accordion__item--active .accordion__head-inner::after {
        width: 41px;
        height: 38px;
        padding-top: 5.6px;
    }
    .accordion__item-title {
        margin-right: 10px;
    }
}



@media (max-width: 400px) {
    .header__top {
        min-width: none;
        left: 0;
    }
    .header__rating {
        right: 20px;
    }
}

@media (max-width: 380px) {
    .header__rating {
        right: 0;
    }
}


@media (max-width: 350px) {
    .offer__items {
        grid-template-columns: repeat(auto-fit, 290px);
    }
    .customers__slide-inner {
        padding: 12px;
    }
}


@media (max-width: 330px) {
    .header__rating {
        right: -10px;
    }
}