@media (max-width: 1310px) {
    .offer__items {
        justify-content: center;
    }
}

@media (max-width: 1300px) {

    .header__title {
        font-size: 42px;
        max-width: 376px;
        line-height: 50px;
    }

    .header__body-inner {
        flex-direction: column;
    }
    .header__content {
        margin-bottom: 30px;
    }
    
}

@media (max-width: 1100px) {
    .follow__inner {
        flex-direction: column;
        align-items: center;
    }

    .follow__item {
        max-width: 524px;
    }
    .contact__body {
        padding: 100px 0;
        
    }
    
}


@media (max-width: 951px) {
    .burger {
        position: fixed;
        top: 0;
        right: 0;
        z-index: 150;
        height: 60px;
        width: 60px;
        border-radius: 50%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        transition: all .3s;
        background-color: transparent;
    }

    .burger.active span {
        position: relative;
        transform: rotate(45deg);
        top: 7px;
    }

    .burger.active::before {
        transform: scale(0);
        
    }
    .burger.active::after {
        transform: rotate(-45deg);
        top: 20px;
    }

    .burger--follow {
        top: 15px;
        right: 15px;
        box-shadow: 0 1px 8px #a1a1a1;
        background-color: #fff;
    }

    .burger span {
        display: block;
        height: 4px;
        width: 30px;
        background-color: #424551;
        border-radius: 3px;
        margin: 4px 0;
    }

    .burger::before,
    .burger::after {
        content: '';
        display: block;
        width: 30px;
        height: 4px;
        background-color: #424551;
        border-radius: 3px; 
    }

    .header {
        padding-top: 90px;
    }

    .header__top {
        position: fixed;
        top: 0;
        bottom: 0;
        right: 0;
        background-color: #FFFFFF;
        z-index: 100;
        min-width: 320px;
        transform: translateX(100%);
        transition: all .3s;
    }

    .header__top--open {
        transform: translateX(0%);
    }

    .header__body-inner {
        padding-top: 0;
    }

    .header__top-inner {
        flex-direction: column;
        height: 100%;
        justify-content: space-between;
        padding: 100px 0;
    }

    .header__logo {
        margin: 0 0 30px 0;
    }

    .header__top-inner span {
        display: none;
    }

    .header__nav {
        text-align: center;
        margin: 0 auto;
        flex-grow: 1;
    }

    .header__nav-list {
        flex-direction: column;
        justify-content: center;
        height: 100%;
    }

    .header__nav-item {
        margin: 0;
    }
    .header__nav-item:last-child {
        margin: 0;
    }

    .header__nav-link {
        padding: 5px;
        display: block;
    }

    .offer__title,
    .follow__title,
    .contact__title {
        font-size: 38px;
        line-height: 56px;
    }
    
    .contact__body {
        background-color: transparent;
    }

    .contact__title {
        margin: 0 0 40px 40px;
    }
    .contact__btn {
        background-color: #FF6433;
    }
}

@media (max-width: 800px) {
    .offer {
        padding: 70px 0;
    }
    .header__content-right img {
        width: 100%;
    }

    .header__content-right::before {
        display: none;
    }

    .header__rating {
        bottom: 0;
        right: 0;
    }
    .follow {
        padding: 70px 0;
    }
    .contact__title {
        margin-left: 0;
    }
    .contact__btn {
        margin-left: 0;
    }
}

@media (max-width: 600px) {
    .offer__subtitle {
        font-size: 20px;
        line-height: 32px;
    }
    .offer__title,
    .follow__title,
    .contact__title {
        font-size: 28px;
        line-height: 46px;
    }
    .follow__item-title {
        font-size: 22px;
        line-height: 38px;
    }
    .follow__item-text {
        font-size: 14px;
    }
}

@media (max-width: 450px) {
    .header__title {
        font-size: 38px;
        text-align: center;
    }
    .header__content-buttons {
        display: flex;
        flex-direction: column;
    }
    .header__content-btn {
        margin: 0 0 20px 0;
    }
    .header__times-title {
        font-size: 14px;
    }
    .header__times-text {
        font-size: 16px;
    }
}



@media (max-width: 400px) {
    .header__top {
        min-width: none;
        left: 0;
    }
    .header__rating {
        right: 20px;
    }
}

@media (max-width: 350px) {
    .offer__items {
        grid-template-columns: repeat(auto-fit, 290px);
    }
}


@media (max-width: 380px) {
    .header__rating {
        right: 0;
    }
}


@media (max-width: 330px) {
    .header__rating {
        right: -10px;
    }
}