html, body {
    font-family: 'Manrope', sans-serif;
    color: #1E1B1B;
}

.wrapper {
    min-height: 100%;
    width: 100%;
    overflow: hidden;
}

.container {
    max-width: 1310px;
    padding: 0 15px;
    margin: 0 auto;
    height: 100%;
}

.burger {
    display: none;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.349);
    z-index: 50;
    visibility: hidden;
    opacity: 0;
    transition: all .3s;
}

.overlay--show {
    opacity: 1;
    visibility: visible;
}

.button {
    display: inline-block;
    letter-spacing: 0.5px;
    font-size: 18px;
    line-height: 31px;
    font-weight: 600;
    padding: 16px 40px;
    color: #FFFFFF;
    border-radius: 12px;
    background: #FF6433;
    white-space: nowrap;
    transition: .3s;
}

.button:hover {
    transform: scale(1.05);
}

.title {
    font-size: 58px;
    font-weight: 800;
    line-height: 76px;
    letter-spacing: -1.74px;
}

/********* Header *************/

.header {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.header__top-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 18px 0 16.5px 0;
}

.header__top-inner span {
    width: 1px;
    height: 42px;
    background: #939191;
}

.header__nav {
    margin-left: auto;
}

.header__nav-list {
    display: flex;
}

.header__nav-item {
    margin-right: 40px;
}

.header__nav-item:last-child {
    margin-right: 32px;
}

.header__nav-link {
    font-weight: 600;
    font-size: 16px;
    line-height: 28px;
    transition: all .3s;
    white-space: nowrap;
}

.header__nav-link:hover {
    color: #FF6433;
}

.header__btn-box {
    padding: 0 0 0 86px;
    position: relative;
}

.header__btn-box::before {
    content: '';
    background: url('./../images/icons/assistance-icon.svg') no-repeat;
    display: block;
    width: 40px;
    height: 40px;
    position: absolute;
    top: 50%;
    left: 32px;
    transform: translateY(-50%);
}

.header__top-text {
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    opacity: 0.7;
}

.header__top-phone {
    font-size: 18px;
    font-weight: 600;
    line-height: 175%;
}


.header__body {
    flex-grow: 1;
}

.header__body-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    margin: auto 0;
    padding-bottom: 40px;
    padding-top: 80px;
}

.header__title {
    font-size: 64px;
    font-weight: 800;
    line-height: 84px;
    letter-spacing: -1.92px;
    max-width: 624px;
    margin-bottom: 32px;
}

.header__content-buttons {
    display: inline-flex;
    align-items: center;
    margin-bottom: 48px;
}

.header__content-btn {
    margin-right: 49px;
}

.header__play {
    display: flex;
    align-items: center;
}

.header__play svg {
    margin-right: 8px;
}

.header__times {
    position: relative;
    padding-left: 45px;
}

.header__times::before {
    content: '';
    background: url('./../images/icons/watch-icon.svg');
    position: absolute;
    display: block;
    width: 31px;
    height: 31px;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
}

.header__times-title {
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    color: #939191;
}

.header__times-text {
    font-size: 18px;
    font-weight: 600;
    line-height: 175%;
}

.header__content-right {
    position: relative;
}

.header__content-right::before {
    content: '';
    position: absolute;
    top: 67px;
    left: -40px;
    background: url('./../images/Service.png') no-repeat;
    width: 307px;
    height: 127px;
}

.header__rating {
    position: absolute;
    z-index: 5;
    bottom: 70px;
    right: -40px;
    width: 306px;
    height: 126px;
    padding: 12px;
    background-color: rgba(225, 225, 225, 0.43);
    border-radius: 59px;
}

.header__rating-inner {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    border-radius: 59px;
    background: #FFFFFF;
}

.header__rating-number {
    color: #000;
    font-size: 24px;
    font-weight: 600;
    line-height: 36px;
    letter-spacing: -0.72px;
}

.header__rating-text {
    color: #000;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    opacity: 0.7;
}

/********* Offer *************/

.offer {
    padding: 132px 0 124px;
    background: #F2F2F2;
}

.offer__subtitle {
    font-size: 24px;
    font-weight: 600;
    line-height: 36px;
    letter-spacing: -0.72px;
    text-align: center;
    margin-bottom: 8px;
}

.offer__title {
    margin: 0 auto;
    max-width: 858px;
    text-align: center;
    margin-bottom: 64px;
}

.offer__items {
    display: grid;
    grid-template-columns: repeat(auto-fit, 314px);
    gap: 8px;
    margin-bottom: 32px;
}

.offer__item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
    height: 232px;
    background-color: #FFFFFF;
    transition: all .5s;
    cursor: pointer;
}

.offer__item:hover:hover {
    background-color: #FF6433;
}

.offer__item:hover svg {
    color: #FFFFFF;
}

.offer__item:hover p {
    color: #FFFFFF;
}

.offer__img {
    width: 55px;
    height: 50px;
    color: #1E1B1B;
}


.offer__text {
    font-size: 24px;
    font-weight: 600;
    line-height: 36px;
    /* 150% */
    letter-spacing: -0.72px;
}

.offer__btn {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 175%;
    gap: 16px;
    transition: all .5s;
}

.offer__btn:hover {
    color: #FF6433;
}


/********* Follow *************/

.follow {
    padding: 138px 0 134px;
}


.follow__inner {
    display: flex;
    gap: 131px;
}

.follow__left {
    max-width: 524px;
}

.follow__title {
    margin-bottom: 16px;
}

.follow__text {
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 28px;
    opacity: 0.6;
    margin-bottom: 32px;
}

.follow__item {
    position: relative;
    padding-top: 13px;
    padding-left: 96px;
    margin-bottom: 29px;
    max-width: 432px;
}

.follow__item:nth-child(1)::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 72px;
    height: 159px;
    background: url('./../images/follow-img1.svg') no-repeat;
}

.follow__item:nth-child(2)::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 72px;
    height: 159px;
    background: url('./../images/follow-img2.svg') no-repeat;
}

.follow__item:nth-child(3)::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 72px;
    height: 72px;
    background: url('./../images/follow-img3.svg') no-repeat;
}

.follow__item-title {
    font-size: 32px;
    font-weight: 700;
    line-height: 48px;
    letter-spacing: -0.96px;
    margin-bottom: 8px;
}

.follow__item-text {
    font-size: 18px;
    font-weight: 600;
    line-height: 175%;
    opacity: 0.6;
}

/********* Contact *************/

.contact {
    background-image: url('./../images/contact-us.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 502px;
}

.contact__body {
    padding: 128px 0;
    background-color: #FF6433;
    max-width: 729px;
    min-height: 502px;
}

.contact__title {
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 140%;
    letter-spacing: -1.44px;
    color: #FFFFFF;
    margin-bottom: 48px;
    margin-left: 80px;
    max-width: 569px;
}

.contact__btn {
    background-color: #1E1B1B;
    margin-left: 59px;
}

/********* Numbers *************/

.numbers {
    background-color: #F2F2F2;
    padding: 48px 0;
}

.numbers__items {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.numbers__item {
    margin-right: 10px;
}

.numbers__item:last-child {
    margin-right: 0;
}

.numbers__item-number {
    font-size: 58px;
    font-weight: 800;
    line-height: 76px;
    letter-spacing: -1.74px;
    color: #661CE7;
    margin-bottom: 2px;
}

.numbers__item-text {
    font-size: 24px;
    font-weight: 600;
    line-height: 36px; /* 150% */
    letter-spacing: -0.72px;
    opacity: 0.7;
}

/********* Our blog *************/

.our-blog {
    padding: 131px 0 136px;
}

.our-blog__title {
    margin-bottom: 47px;
}

.our-blog__filter-box {
    display: flex;
    margin-bottom: 46px;
}

.our-blog__filter-item {
    margin-right: 30px;
}

.our-blog__filter-item:last-child {
    margin-right: 0;
}

.our-blog__filter-btn {
    font-size: 32px;
    font-weight: 700;
    line-height: 48px;
    letter-spacing: -0.96px;
    background-color: transparent;
    padding: 6px 8px;
}

.our-blog__filter-btn--active {
    background: linear-gradient(56deg, #FD3F3A 0%, #F77E05 100%);
    border: none;
    color: #FFFFFF;
    padding: 6px 8px;
    border-radius: 10px;
}

.our-blog__items {
    display: grid;
    grid-template: repeat(2, auto) / repeat(3, 1fr);
    gap: 32px;
}

.our-blog__image-box {
    transition: all 1s;
}

.our-blog__image-box img {
    width: 100%;
    height: 100%;
}

.our-blog__item-link:hover .our-blog__link-title {
    color: #FF6433;
    transition: all .3s;
}

.our-blog__item-link:hover .our-blog__image-box {
    opacity: 0.7;
    transition: all .3s;
}

.our-blog__link-content {
    padding-top: 24px;
}

.our-blog__link-data {
    font-size: 16px;
    font-weight: 600;
    line-height: 28px;
    color: #939191;
    margin-bottom: 16px;
}

.our-blog__link-title {
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: 48px;
    letter-spacing: -0.96px;
    margin-bottom: 16px;
    transition: all 1s;
}

.our-blog__link-text {
    font-size: 16px;
    color: #232536;
    font-weight: 600;
    line-height: 28px;
}

/********* Customers *************/


.customers {
    background-color: #F2F2F2;
    padding: 128px 0;
}

.customers__title {
    text-align: center;
    max-width: 909px;
    margin-left: 185px;
    margin: 0 auto 76px;
}

.customers__slider-wrapper {
    position: relative;
    padding-bottom: 78px;
}

.customers__slider .slick-list {
    margin: 0 -24px;
}

.customers__slide {
    margin: 0 24px;
    background-color: #FFFFFF;
    border-radius: 6px;
    border: 1px solid rgba(172, 172, 172, 0.29);
}

.customers__slide-inner {
    padding: 72px;
}

.customers__slide-top {
    display: flex;
}

.customers__image-box {
    margin-right: 16px;
    margin-bottom: 24px;
}

.customers__name {
    font-size: 24px;
    font-weight: 600;
    line-height: 36px;
    letter-spacing: -0.72px;
}

.customers__city {
    font-size: 16px;
    font-weight: 600;
    line-height: 28px;
    color: #939191;
}

.customers__text {
    font-size: 24px;
    font-weight: 600;
    line-height: 36px;
    letter-spacing: -0.72px;
}

.customers__slider-arrows {
    display: flex;
    position: absolute;
    right: 0;
    bottom: 0;
}

.customers__slider-arrow {
    display: block;
    line-height: 0;
    border-radius: 50%;
    position: relative;
    z-index: 5;
    background-color: #FFFFFF;
    padding: 14px;
}

.customers__slider-arrow::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    width: 48px;
    height: 48px;
    background-color: #1E1B1B;
    border-radius: 50%;
    z-index: -1;
    transition: all .3s;
}

.customers__slider-arrow path {
    transition: all .3s;
}

.customers__slider-arrow:hover path {
    fill: #FFFFFF;
}

.customers__slider-arrow:hover::before {
    transform: translate(-50%, -50%) scale(1.3);
}

.customers__slider-prev {
    margin-right: 24px;
}

/* customers__dots */

.customers__dots .slick-dots {
    position: absolute;
    bottom: 7px;
    left: 44%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.customers__dots li {
    margin-right: 15px;
}

.customers__dots li:last-child {
    margin-right: 0;
}


.customers__dots button {
    font-size: 0;
    background-color: transparent;
    height: 30px;
    width: 30px;
    display: flex;
    align-items: center;

}

.customers__dots button::before {
    content: '';
    height: 4px;
    width: 100%;
    background-color: #939191;
}

.customers__dots .slick-active button::before {
    background-color: #FF6433;
    transition: all .3s;
}


/********* Brands *************/

.brands {
    padding: 128px 0 82px;
    background-color: #E2E6E9;
}

.brands__title {
    margin-bottom: 31px;
    text-align: center;
}

.brands__items {
    display: grid;
    grid-template: repeat(2, auto) / repeat(5, 1fr);
    gap: 38px;
}

.brands__item-link {
    display: block;
}

.brands__item-link img {
    width: 100%;
    height: 100%;
    filter: grayscale(1);
    opacity: .4;
    transition: all .3s;
}

.brands__item-link:hover img {
    filter: grayscale(0);
    opacity: 1;
    transition: all .3s;
}

/********* Accordion*************/

.accordion {
    padding: 128px 0;
    background-color: #E2E6E9;
}

.accordion__title {
    text-align: center;
    margin-bottom: 86px;
}

.accordion__item {
    margin-bottom: 12px;
    background-color: #FFFFFF;
    max-width: 896px;
    margin-left: auto;
    margin-right: auto;
}

.accordion__item--active .accordion__head-inner::after {
    content: url('./../images/Minus.svg');
    width: 51px;
    height: 48px;
    padding-top: 11px;
}

.accordion__item-link {
    display: block;
}

.accordion__item-link:last-child {
    margin-bottom: 0;
}

.accordion__item-head {
    cursor: pointer;
}

.accordion__head-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px;
}

.accordion__item-title {
    font-size: 24px;
    font-weight: 600;
    line-height: 36px;
    letter-spacing: -0.72px;
}

.accordion__head-inner::after {
    padding: 16px 17px;
    content: url('./../images/Plus.svg');
    width: 51px;
    height: 48px;
    background: orangered;
}


.accordion__item-main {
    display: none;
    padding: 16px 40px 40px 40px;
}

.accordion__item-text {
    font-size: 18px;
    font-weight: 600;
    line-height: 175%;
    color: #939191;
}

/********* Info *************/

.info {
    background-color: #1E1B1B;
    opacity: 0.98;
    padding: 128px 0 129px;
}

.info__inner {
    display: flex;
}
.info__left {
    max-width: 463px;
    margin-right: 193px;
}

.info__title {
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 140%;
    letter-spacing: -1.44px;
    color: #FFFFFF;
    margin-bottom: 64px;
}

.info__socials {
    display: flex;
}

.info__socials-item {
    margin-right: 24px;

}

.info__socials-link path{
    transition: all .3s;
}
.info__socials-link:hover path {
  fill: grey;
}


.info__socials-item:last-child {
    margin-right: 0;
}

.info__contacts-item {
    margin-bottom: 32px;
}

.info__item-top {
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 175%;
    opacity: 0.6;
    color: #FFFFFF;
    margin-bottom: 8px;
}

.info__item-link,
.info__item-address,
.info__item-open {
    font-size: 24px;
    font-weight: 600;
    line-height: 36px; /* 150% */
    letter-spacing: -0.72px;
    color: #FFFFFF;
}


/********* Experts *************/

.experts {
    padding: 121px 0 0 0;
}

.experts__inner {
    margin-bottom: 178px;
}

.experts__title {
    font-size: 64px;
    font-weight: 800;
    line-height: 84px; /* 131.25% */
    letter-spacing: -1.92px;
    max-width: 505px;
    margin-bottom: 48px;
}

.experts__content {
    display: flex;
    margin-bottom: 48px;
}

.experts__form-box {
    flex: 0 1 624px;
    margin-right: 141px;
}


.experts__form-input {
    display: block;
    padding: 23px 40px;
    border-radius: 2px;
    background-color: #F2F2F2;
    margin-bottom: 4px;
    width: 100%;
}

.experts__form-input::placeholder {
    font-size: 16px;
    font-weight: 600;
    line-height: 28px;
    color: #1E1B1B;
}

.experts__info-item {
    margin-bottom: 32px;
}

.experts__info-item:last-child {
    margin-bottom: 0;
}

.experts__info-top {
    font-size: 16px;
    font-weight: 600;
    line-height: 28px;
    opacity: 0.7;
    margin-bottom: 2px;
}

.experts__info-address,
.experts__info-mail,
.experts__info-hours {
    font-size: 24px;
    font-weight: 600;
    line-height: 36px; /* 150% */
    letter-spacing: -0.72px;
}

.experts__map {
    height: 512px;
    width: 100%;
    box-shadow: 0px 4px 4px -4px rgba(30, 33, 44, 0.03), 0px 12px 10px -6px rgba(154, 156, 165, 0.04), 0px 30px 24px -10px rgba(154, 156, 165, 0.05), 0px 80px 80px -20px rgba(154, 156, 165, 0.08);
}

/********* Map-background *************/

.map-background {
    margin-top: -168px;
    min-height: 448px;
    background: url('./../images/background.png') center/cover no-repeat;
}

/********* Footer *************/

.footer {
    background-color: #1E1B1B;
    padding: 66px 0;
}

.footer__inner {
    display: flex;
    justify-content: space-between;
}

.footer__nav-list {
    display: flex;
}

.footer__nav-item {
    margin-right: 40px;
}

.footer__nav-item:last-child {
    margin-right: 0;
}

.footer__nav-link {
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 28px;
    color: #FFFFFF;
    transition: all .3s;
}

.footer__nav-link:hover {
    opacity: 0.7;
}

.footer__copyright {
    font-size: 16px;
    font-weight: 600;
    line-height: 28px;
    color: #939191;
}